<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="topnav">
        <h1>Blog Site</h1>
        <h2><%= USERNAME %></h2>
        <div>
            <a href="/logout">Log Out</a>
            <a href="/create">New Blog</a>
            <% if (BUTTON === "My Blogs") { %>
                <a href="myBlogs"><%= BUTTON %></a>
            <% }else{ %>
            <a href="/blogs"><%= BUTTON %></a>
            <% } %>
        </div>
    </div>
    <div class="main-container">
        <% for( let index=0; index < DATA.length; index++ ) { %>
        <div class="container">
            <div class="title">
                <%= DATA[index].title %>
            </div>
            <div class="content">
                <%= DATA[index].content %>
            </div>
            <div class="user">
                <%= DATA[index].username %>
            </div>
            <% if(BUTTON === "Blogs") {%>
                <form action="/edit" method="post">
                    <input type="hidden" name="title" value= "<%= DATA[index].title %>">
                    <input type="hidden" name="content" value= "<%= DATA[index].content %>">
                    <input type="hidden" name="BlogId" value= "<%= DATA[index].id %>">
                    <input type="submit" value="Edit" class="edit">
                </form>
            <% } %>
        </div>
    <% } %>
    </div>
    
</body>

</html>